.aside-card {
    width: 300px;
    height: 20rem;
    margin: 15px;
    background-color: rgb(63, 62, 62);
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    border: springgreen 1px solid;
}

.aside-card h3, .aside-card p {
    padding: 10px;
}

.aside-card a {
    color: springgreen;
    font-size: 0.8rem;
    padding-left: 10px;
}

.aside-card img {
    width: 298px;
    height: 150px;
}